*,
*::before
*::after
  box-sizing: border-box
  margin:0
  padding:0
  line-height: 1.33
  user-select: none


[outline],
[outline] *:not(svg):not(svg *)
  outline: 0.15vmin dashed black

html *:not(dialog):not(dialog *)
  scroll-behavior: smooth
  :focus
    outline: none

[hidden]
  opacity: 0
  visibility: hidden
  transition-delay: 0s, 0.5s

