*,
*::before
*::after
  box-sizing: border-box
  margin:0
  padding:0
  line-height: 1.33
  user-select: none

html *
  transition-timing-function: ease-out
  transition-duration: 0.5s, 0s, 0.25s // first two durations accomodate hidden attribute transition
  transition-property: opacity, visibility, border, margin, padding, width, height, fill, stroke
  animation-duration: 0.5s
  animation-fill-mode: forwards

[hidden]
  opacity: 0
  visibility: hidden
  transition-delay: 0s, 0.5s
