@require "../variables"

body
  min-height:100vh
  border:none
  display:flex
  flex-direction: row
  align-items:stretch; 
  justify-content: space-evenly
  align-content:space-between;
  border: 0rem solid editor-on-color
  line-height: remove-unit(base-line)
  // user-select: none

  &[contenteditable]
    // user-select: auto
    border: base-line solid editor-on-color
    border-top: none
    border-bottom:none
    padding-left: 0
    padding-right: 0

  & > header
  & > footer
    display:flex
    flex-direction: column
    align-items: center
    justify-content: space-around

  & > header
    flex-direction: row
    justify-content: space-between
    align-items: center;
    width: 100vw
    @media screen and (min-width: max-screen + 10rem)
      height: base-line * 1.5
    & svg
      height:base-line * 1.5
      width:base-line * 3
      margin-left: base-line
      stroke:blue
      fill:green-fill
      opacity:0.4
      stroke-width:5
      @media screen and (min-width: max-screen + 10rem)
        position: fixed
        top:base-line
        left:0
