@require "../variables"

body
  min-height:100vh
  border:none
  display:flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  border: 0rem solid editor-on-color
  padding: base-line
  padding-top:0
  line-height: remove-unit(base-line)
  // user-select: none

  &[contenteditable]
    // user-select: auto
    border: base-line solid editor-on-color
    border-top: none
    border-bottom:none
    padding-left: 0
    padding-right: 0

  & > header
  & > main
  & > footer
    display:flex
    flex-direction: column
    align-items: center
    justify-content: space-around

  & > main
    align-items: stretch

  & > footer
    flex-direction: column
    width: 100%
    position: fixed
    bottom:0
    left:0

  & > header
    flex-direction: row
    justify-content: space-between
    align-items: center;
    width: 100vw
    @media screen and (min-width: max-screen + 10rem)
      height: base-line * 1.5
    & svg
      height:base-line * 1.5
      width:base-line * 3
      margin-left: base-line
      stroke:blue
      fill:green-fill
      opacity:0.4
      stroke-width:5
      @media screen and (min-width: max-screen + 10rem)
        position: fixed
        top:base-line
        left:0

    & nav
      display:flex
      flex-direction:row
      align-items: center
      justify-content: space-between
      &: > a:first-child
        display: inline
      & > a
        margin-right:base-line
      & > a[href$='$ScottFryxell']
        color:green

  & > main > aside > h1
    animation: hue 1s infinite linear
