button
  cursor: pointer
  appearance:none
  background-color: inherit
  border:inherit
  vertical-align: bottom
  text-align: left
  font-family: inherit
  font-size: inherit
  font-weight: normal
  // between: font-size
