 @require "../variables"

details
  // position: relative
  & > summary
    color:blue
    cursor: pointer
    &:focus
      outline:none
    &::-webkit-details-marker
      display:none
  &[open]
    border: none
    & > summary
      color: red
    & > *:not(summary)
      animation-name: fadeInDown
