body:has(dialog.confirm[open]) {
  overflow: hidden;
}
dialog {
  outline: none;
  margin: base-line auto 0;
  padding: base-line * 0.5;
  border: 3px solid red;
  border-radius: base-line * 0.5;
  color: black;
  background-color: white-background;
  @media (prefers-color-scheme: dark) {
    color: white-text;
    background-color: black-background;
  }
  opacity: 0;
  transition: opacity 120ms ease;
  &:focus {
    outline: none;
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 120ms ease;
  }
  &[open] {
    opacity: 1;
  }
}

dialog[open]::backdrop {
  opacity: 1;
}

dialog.confirm {
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  & > article {
    max-width: 100%
    @media (orientation: portrait) and (max-width: pad-begins) {
      min-width: calc(100vw - var(--base-line) * 3)
    }
    header {
      padding: base-line;
      display: flex;
      flex-direction: column;
      h1 {
        text-align: center;
        width: 100%;
        color: red;
      }
      p {
        width: 100%;
        color: blue;
      }
    }
    p {
      text-align: center;
      color: black;
      @media (prefers-color-scheme: dark) {
        color: white-text;
      }
    }
    menu {
      padding: base-line;
      display: flex;
      justify-content: space-between;
      button.delete {
        border-color: var(--red);
        color: var(--red);
        font-weight: bold;
      }
    }
  }
}
