body:has(dialog.confirm[open]) {
  overflow: hidden;
}
dialog {
  margin: base-line auto 0;
  padding: base-line * 0.5;
  border: 3px solid red;
  border-radius: base-line * 0.5;
  color: var(--text-color);
  background-color: var(--black-background);
  &:focus {
    outline: none;
  }
  &::backdrop {
    backdrop-filter: blur(base-line * 0.25 );
  }
}

dialog.confirm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100dvw;
  height: 100dvh;
  & > article {
    border-color: red;
    border-width: 4px;
    border-radius: base-line;
    background-color: var(--black-transparent);
    @media (prefers-color-scheme: dark) {
      background-color: var(--black-background);
    }
    max-width: var(--page-width);
    margin: 25dvh auto 0;
    header {
      padding: base-line;
      display: flex;
      flex-direction: column;
      h1 {
        text-align: center;
        width: 100%;
        color: red;
      }
      p {
        width: 100%;
        color: blue;
      }
    }
    p {
      text-align: center;
      color: var(--white-text);
    }
    menu {
      padding: base-line;
      display: flex;
      justify-content: space-between;
      button.delete {
        border-color: var(--red);
        color: var(--red);
        font-weight: bold;
      }
    }
  }
}
