figure
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0
  margin-inline-end: 0
  & > figcaption svg.icon
    filter: drop-shadow( -0.25px -1px 1.5px black-dark) // the sun is coming from the bottom right
