form
  display: flex
  flex-direction: column
  justify-content: space-around

input
textarea
[contenteditable]
  user-select: text

input
textarea
  border-color: transparent
  background-color: transparent

button
input
textarea
  appearance:none
  -webkit-tap-highlight-color: inherit
  tap-highlight-color: inherit
  outline: inherit
  text-rendering: inherit
  font: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  color: inherit

input:focus
  transition-property: all

button
  standard-button: black
  background-color: inherit
  vertical-align: middle

fieldset
  standard-border: black
  padding: (base-line / 2 )
  overflow: hidden
