hgroup
  p
    user-select: none
  h1
    padding-left: base-line
    text-align: left
    width: 100vw
  &.message
    max-width: page-width
    margin: base-line auto
    order: 1
    & > p
      padding: 0 base-line
      text-align: center
      svg
        fill: blue
        width: 1em
        height: 1em
        display: inline-block
        margin-bottom: -0.25em
        &.realness
          width: 2em
          height: 2em
      button
        color: blue
        border-color: blue
