nav.profile-list {
  display: grid;
  grid-gap: base-line;
  grid-template-columns: repeat(auto-fill, minmax((base-line * 12), 1fr));
  @media (min-width: pad-begins) {
    padding: 0 base-line;
    & > figure {
      standard-border: var(--accent);
      & > svg {
        border-right-width: round((base-line / 10), 2);
        border-radius: 0;
      }
    }
  }
}
