section.page
  width:100%
  @media (orientation: portrait)
    overflow: hidden
  & > header
    padding: base-line
    display:flex
    justify-content: space-between
    z-index: 2
    @media (max-width: min-screen) and (orientation: portrait)
      padding-top: base-line + 1rem
    h1
      color: blue
      vertical-align: top
      margin: 0
      line-height: 1.33
      @media (min-width: max-screen)
        line-height: .66
  & > hgroup
    text-align: center
    h1
      color: blue
      margin: 0
      margin-bottom: base-line * 2
