@require '../variables'
section.page
  animation-name: slideInRight
  &.left
    animation-name: slideInLeft
  padding: base-line
  & > header
    display:flex
    justify-content: space-between
    z-index: 2
    h1
      color:blue
      vertical-align: top
      margin: 0
      line-height: 1.33
      @media (min-width: max-screen)
        line-height: .66
    details
      &[open]
        margin-right: inherit;
        & > summary
          margin-bottom: base-line
