textarea#wat
  padding-top: base-line
  width:50vw
  -webkit-appearance: none
  line-height: 1
  between: font-size
  transition-property: all
  outline: none
  box-shadow: none
  resize: none
  border-radius:1vw

  &::placeholder
    between: font-size
    text-align: center

  &:focus
    padding: base-line
    outline:0
    border-width:0
    transition-duration: .4s
    transition-property: line-height, padding
    width: 100%
    line-height: base-line
    user-select: text
    height: 100vh
    &::placeholder
      text-align: left
