time
  margin-top: (base-line / 2)
  color: blue
  text-shadow: 0 0 0 yellow
  display: block
  cursor: default;
  transition: opacity 0.25s
  opacity: 0.5
  &:active
    transition: opacity 0.24s
    opacity: 1
