address
  font-style: normal
  p
    user-select: none
  h1
    padding-left: base-line
    text-align: left
    width: 100vw
  &.message
    max-width: page-width
    margin: (base-line * 3) auto 0 auto
    order: 1
    & > p
      padding: 0 base-line
      text-align: center
      line-height: 2.66
      svg
        fill: blue
        width: 1em
        height: 1em
        display: inline-block
        margin-bottom: -0.25em
        &.realness
          width: 2em
          height: 2em
      button
        color: blue
        border-color: blue
        margin-right: round((base-line / 6), 2)
