 details
  & > summary
    cursor: pointer
    &:focus
      outline:none
    &::marker
      display: none
  & > *:not(summary)
    animation-name: slideOutLeft
  &[open]
    border: none
    border-color: transparent
    & > *:not(summary)
      animation-name: slideInLeft
