// fluid typography is based on slope intercept form
// from this article: https://www.smashingmagazine.com/2016/05/fluid-typography/
// this codepen clears up the slope intercept implementation: http://codepen.io/maranomynet/pen/ozNpXV

between($properties, $min-value=min-font, $max-value=max-font, $min-vw=min-screen, $max-vw=max-screen)

  // Renders: calc(1rem + (1.5rem - 1rem) * (100vw - 25rem) / (50rem - 25rem)
  $min-value-stripped = remove-unit($min-value)
  $max-value-stripped = remove-unit($max-value)
  $min-vw-stripped    = remove-unit($min-vw)
  $max-vw-stripped    = remove-unit($max-vw)

  // calc requires that division and multiplication be stripped of units
  calculation = s('calc( %s + (%s - %s) * (100vw - %s) / (%s - %s) )', $min-value, $max-value-stripped, $min-value-stripped, $min-vw, $max-vw-stripped, $min-vw-stripped)

  for $property in $properties
    {$property}: $min-value

  @media screen and (min-width: $min-vw)
    for $property in $properties
      {$property}: calculation

  @media screen and (min-width: $max-vw)
    for $property in $properties
      {$property}: $max-value
