standard-border($color=currentColor, $dark-color=dark-black)
  border: (base-line / 6) solid $color
  border-radius: (base-line / 3)
  @media (prefers-color-scheme: dark)
    border-color: $dark-color

standard-button($color=currentColor, $dark-color=dark-black)
  standard-border: $color
  padding: (base-line / 2)
  border-radius: base-line
  line-height: 1
  background-color: inherit
  vertical-align: middle
  text-transform: capitalize
  text-align: center
  font-weight: 300
  cursor: pointer
  color: $color
  &:disabled
    color: transparent
  @media (prefers-color-scheme: dark)
    color: $dark-color
    standard-button: $dark-color
