:root
  interpolate-size: allow-keywords
  accent-color: red
  --black: black
  --black-dark: black-dark
  --black-background: black-background
  --black-transparent: black-transparent

  --white: white
  --white-text: white-text
  --white-background: white-background
  --white-poster: white-poster

  --blue: blue
  --green: green
  --red: red
  --sediment: sediment
  --yellow: yellow
  --orange: orange

  --base-line: base-line

  --min-modular: min-modular
  --max-modular: max-modular

  --min-font: min-font
  --max-font: max-font

  --pad-begins: pad-begins
  --typing-begins: typing-begins
  --display-begins: display-begins
  --page-width: page-width

  --poster-min-width: poster-min-width
  --poster-grid-height: poster-grid-height
  --poster-thoughts-height: poster-thoughts-height
