body[contenteditable].developer
  // background-image: linear-gradient(green-fill 1px, transparent 1px)
  // background-size: (base-line / 12 ) base-line
  // animation: hue 10s infinite linear
  & *
    user-select: auto
