@font-face
  font-family: 'Lato'
  src: url(fonts/Lato-Light-Subset.woff2) format('woff2')
  font-style: normal
  font-weight: 300
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url(fonts/Lato-Regular-Subset.woff2) format('woff2')
  font-style: normal
  font-weight: 400
  font-display: swap
@font-face
  font-family: 'Lato'
  src: url(fonts/Lato-Heavy-Subset.woff2) format('woff2')
  font-style: normal
  font-weight: 800
  font-display: swap
