@require 'variables'

svg#hero
  // display: none
  z-index: -1
  width: 100vw
  min-height: base-line * 30rem
  margin-bottom: base-line
  position:absolute
  top:0
  left:0
  opacity:1
  fill:green
  stroke:blue
  stroke-width:0.5

  & use:nth-child(2)
    stroke:red
    stroke-width:0.1
    fill:transparent
