
@keyframes cutout-pulse {
  0% {
    opacity: 0.75;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}

/* http://daneden.me/animate/ */

@keyframes subtle-rotate
  25%
    transform: rotatez(0.22deg)
  50%
    transform: rotatey(0.22deg)
  75%
    transform: rotatex(0.22deg)

@keyframes subtle-counter-rotate
  25%
    transform: rotatez(0.22deg)
  50%
    transform: rotatez(0.11deg)

  75%
    transform: rotatez(0.33deg)


@keyframes subtle-breath
  50%
    opacity: 0.5

@keyframes working
  50%
    fill: white-background
    stroke: white-background

@keyframes pulsing
  0%, 100%
    opacity: 0.7
    transform: scale(1.5)
  50%
    opacity: 1
    transform: scale(1)

@keyframes press
  50%
    fill: currentColor
    fill-opacity: 0.25

@keyframes press-hold
  100%
    -webkit-tap-highlight-color: blue

@keyframes absolute-slide-down
  from
    top: inset(top, -(base-line * 2))
    left: inset(left)
    transform: translate3d(0, -100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
    position: absolute
    top: inset(top, 0)
    left: inset(left, 0)

@keyframes absolute-slide-up
  from
    transform: translate3d(0, 100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
    position: absolute
    bottom: base-line

@keyframes slide-in-down
  from
    transform: translate3d(0, -100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)

@keyframes slide-in-up
  from
    transform: translate3d(0, 100%, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)

@keyframes slide-in-left
  from
    transform: translate3d(-100%, 0, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)
@keyframes slide-in-right
  from
    transform: translate3d(100%, 0, 0)
    visibility: visible
  to
    transform: translate3d(0, 0, 0)

@keyframes slide-out-right
  from
    transform: translate3d(0, 0, 0)
  to
    visibility: hidden
    transform: translate3d(100%, 0, 0)

@keyframes rotate
  from
    transform: rotate3d(0, 0, 1, -100deg)
  to
    transform: translate3d(0, 0, 0)

@keyframes rotate-back
  from
    transform: rotate3d(0, 0, 1, 100deg)
  to
    transform: translate3d(0, 0, 0)

@keyframes fade-in
  from
    opacity: 0
    transform: translate3d(0, 25%, 0)
  to
    opacity: 1
    transform: translate3d(0, 0%, 0)
