/* http://daneden.me/animate/ */
@keyframes fadeInDown
  0%
    opacity: 0
    transform: translate3d(0 -1.25em 0)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes slideInDown
  from
    transform: translate3d(0, -100%, 0);
    visibility: visible;

  to
    transform: translate3d(0, 0, 0)

@keyframes hue
  0%
    filter: hue-rotate(0deg)
  50%
    filter: hue-rotate(180deg)
  100%
    filter: hue-rotate(0deg)
