:active
  outline-width: 0
  outline-style: none
  outline-color: white
  tap-highlight-color: white

:focus
  outline:2px solid blue
  outline-style: double
:hover
  // outline:2px solid white

:visited
 // outline:2px solid white

[v-cloak]
  display: none
