:active
  outline-width: 0
  outline-style: none
  outline-color: white
  // -webkit-tap-highlight-color: transparent

:focus
  outline:2px solid blue
  outline-style: double

:hover
  // opacity:0.5
:visited
 // outline:2px solid white

[v-cloak]
  animation-name: slideOutUp
