:link
  // color:black
:visited
  //
:hover
  //
:active
  outline-width: 0
  outline-style: none
  outline-color: white

:focus
  outline:2px solid blue
  outline-style: double

[v-cloak]
  animation-name: slideOutUp
