@require 'variables'
svg
  transition-property: none
  line-height: 0
  pointer-events: visible
  height: base-line
  width: base-line
  overflow: auto
  outline:none
  display: block
  stroke-width: 0
  fill: dark-black
  &:active
    animation-name: button-click
    animation-timing-function: ease-in-out
    animation-fill-mode: none
    animation-direction: alternate-reverse
    animation-iteration-count: infinite
    transition-property: padding, fill
    padding: 2px
    transition-duration: 0.2s
    transition-timing-function: ease
svg.background
  fill: transparent
  @media (prefers-color-scheme: dark)
    fill: blue
svg.background
use.working
  position: absolute
  z-index: 0
svg.camera
  width: base-line
  height: base-line * 1.2
use.working
  width: base-line * 2.5
  height: base-line * 2
svg.working
use.working
  width: base-line * 3.3
  height: base-line
  margin: auto
  animation-name: working
  animation-timing-function: linear
  animation-duration: 1.33s
  animation-delay: 0.33s
  animation-iteration-count: infinite
svg.message
use.message
  height: base-line * 1.3
