@require "style"

*
  margin:0
  padding:0
  box-sizing: border-box
  line-height: base-line

html *
  font-family: 'Lato', sans-serif
  user-select: none
  transition-timing-function: ease-out
  transition-duration: 0.25s
  transition-property: border, margin, padding, width, height
  animation-duration: 0.5s
  animation-fill-mode: both
